/* activity section의 전체 container */
.activity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 80px);
  -webkit-overflow-scrolling: touch;

  @media (max-width: 900px) {
    height: calc(var(--vh, 1vh) * 100 - 60px);
  }

  @media (max-width: 500px) {
    display: block;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @media (max-height: 500px) {
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.activity-container::-webkit-scrollbar {
  display: none;
}

.activity-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 20vw;
  height: 400px;
  margin: 5px;

  @media (max-width: 900px) {
    width: 25vw;
  }

  @media (max-width: 800px) {
    width: 25vw;
  }

  @media (max-width: 700px) {
    width: 28vw;
  }

  @media (max-width: 500px) {
    width: 80vw;
    margin: calc( (100vw - 80vw) / 2);
  }
}

.activity-block a {
  text-decoration-line: none;
}

.activity-block__title {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  text-shadow: 3px 3px 4px grey;
}

.activity-block__image--big {
  width: 100%;
  height: 44%;
  border-radius: 18px;
  box-shadow: 3px 3px 4px grey;
  object-fit: cover;
}

.activity-block__image--small {
  width: 48%;
  height: 44%;
  border-radius: 18px;
  box-shadow: 3px 3px 4px grey;
  object-fit: cover;
}