/* activity section의 전체 container */
.activity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100dvh - 80px);
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  @media (max-width: 900px) {
    height: calc(100dvh - 60px);
  }

  @media (max-width: 500px) {
    justify-content: flex-start;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @media (max-height: 500px) {
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.activity-container::-webkit-scrollbar {
  display: none;
}

.activity-blocks-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.activity-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 20vw;
  height: 400px;
  margin: 5px;
  scroll-snap-align: center;

  @media (max-width: 900px) {
    width: 25vw;
  }

  @media (max-width: 800px) {
    width: 25vw;
  }

  @media (max-width: 700px) {
    width: 28vw;
  }

  @media (max-width: 500px) {
    flex: 0 0 auto;
    width: 80vw;
    margin: 5vw;
  }
}

.activity-block a {
  text-decoration-line: none;
}

.activity-block__title {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  text-shadow: 3px 3px 4px grey;
}

.activity-block__image--big {
  width: 100%;
  height: 44%;
  border-radius: 18px;
  box-shadow: 3px 3px 4px grey;
  object-fit: cover;
}

.activity-block__image--small {
  width: 48%;
  height: 44%;
  border-radius: 18px;
  box-shadow: 3px 3px 4px grey;
  object-fit: cover;
}