.ActivityDetail-container {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.ActivityDetail-titles {
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}

.ActivityDetail-titles button {
    border-style: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    text-shadow: 3px 3px 4px grey;
}

.ActivityDetail-content {
    display: flex;
    justify-content: center;
    align-items: center;
}