.ActivityDetail-container {
    width: 100%;
    height: calc(100dvh - 80px);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    @media (max-width: 900px) {
        height: calc(100dvh - 60px);
    }
}

.ActivityDetail-titles {
    position: fixed;
    height: 50px;
    top: 100px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-left: 25px;
    z-index: 100;

    @media (max-width: 900px) {
        position: absolute;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        visibility: hidden;
    }
}

.ActivityDetail-titles button {
    border-style: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    text-shadow: 3px 3px 4px grey;
}

.year-dropdown {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: white;
    background-color: #C0CEFF;
    line-height: 1.5;
    padding: 1px 5px;
    margin: 16px;
    cursor: pointer;
    border: 1.5px solid white;
    border-radius: 7px;
}

.year-dropdown-mobile {
    display: none;

    text-align: center;
    width: 80px;
    height: 25px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: #C0CEFF;
    line-height: 1.5;
    padding: 1px 5px;
    cursor: pointer;
    border: 1.5px solid white;
    border-radius: 7px;

    position: fixed;
    top: calc(30px - 25px/2);   
    right: calc(50% - 40px - 16px);

    z-index: 1000;

    @media (max-width: 900px) {
        display: block;
    }
}

.ActivityDetail-content {
    display: flex;
    justify-content: center;
    align-items: center;
}