.event-container {
  width: 100%;
  min-height: 100vh;
  background-color: #98ded9;
  position: relative;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.event-container * {
  font-family: 'Jua';
  font-weight: 100;
}

.event-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 10000;
  cursor: pointer;
  margin: 10px 20px;
}

.event-nav img {
  height: 100%;
}

.event-container h1 {
  margin: 0;
  text-align: center;
  font-size: 3.3rem;
  color: white;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 0 3px 1px black;
  font-family: 'ONE-Mobile-POP';
  margin-bottom: 60px;
  font-weight: 900;
}

.event-big-block {
  width: 90%;
  height: auto;
  max-width: 900px;
  background-color: #e4fbff;
  border: 3px solid #161d6f;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px;
  margin: 20px;
}

.event-big-block-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-big-block-top p {
  background-color: #161d6f;
  display: inline-block;
  text-align: center;
  height: 38px;
  padding: 0px 40px;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-big-block-top button {
  border: none;
  background-color: white;
  border-radius: 20px;
  margin-left: 20px;
  padding: 4px 40px;
}

.event-small-block-container {
  width: 70%;
  max-width: 650px;
  position: relative;
  bottom: 40px;
}

.event-small-block {
  width: 100%;
  padding: 25px 40px;
  border: #161d6f;
  border-radius: 20px;
  background-color: #e4fbff;
  white-space: nowrap;
  text-align: center;
  border: 3px solid #161d6f;
  margin-bottom: 20px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-custom-button {
  background-color: #00af91;
  padding: 15px 20px;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1.5rem;
  margin-bottom: 60px;
  cursor: pointer;
}

.quiz-title {
  font-size: 1.7rem;
}

.quiz-block {
  width: 60%;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 30px;
  height: 45px;
  margin: 15px;
  text-align: center;
  box-shadow: 1.5px 1.5px 1px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.quiz-block div {
  border: 3px solid black;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  box-shadow: 2px 2px 3px lightgray;
}

.event-input-block {
  font-size: 1.5rem;
  display: fles;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.event-input-block input {
  margin-left: 10px;
  border: none;
  border-bottom: 3px solid black;
  background-color: transparent;
  text-align: center;
  font-size: 1.5rem;
}

.event-input-text {
  margin: 30px;
  transform: translate(50%, 0);

  @media (max-width: 950px) {
    transform: translate(0, 0);
  }
}

.event-recruit-table {
  width: 70%;
  height: 90px;
  margin: 20px 0;
}

.event-recruit-table.row {
  width: 100%;
  height: 50%;
  display: flex;
  margin: 0;
}

.event-recruit-table.row div {
  width: 50%;
  text-align: center;
  padding: 10px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-recruit-description p {
  margin: 15px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.event-recruit-description span {
  color: #7579e7;
  border: 2px solid #7579e7;
  border-radius: 30px;
  padding: 5px 15px;
  margin: 0 5px;
  background-color: white;
  cursor: pointer;
}

.event-recruit-info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.event-recruit-info div {
  margin: 0 10px;
}

.event-result-text {
  height: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
