.event-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #98ded9;
  position: relative;
  padding-top: 60px;
}

.event-container h3 {
  position: absolute;
  margin: 0;
  top: 17px;
  left: 25px;
  font-size: 33px;
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 400;
  color: #161d6f;
}

.event-container h1 {
  margin: 0;
  text-align: center;
}
