.event-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #98ded9;
  position: relative;
  padding-top: 60px;
}

.event-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 10000;
  cursor: pointer;
  margin: 10px 20px;
}

.event-nav img {
  height: 100%;
}

.event-container h1 {
  margin: 0;
  text-align: center;
}
