.interview-container {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    font-family: "NEXON Lv2 Gothic";
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

/*상단바*/

.interview-navbar {
    width: 100%;
    height: fit-content;
    font-family: "Orbitron";
    padding: 1% 0 0 2%;
    color: #233EC8;
    background-color: transparent;
    z-index: 5;
}

.interview-logo {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    position: relative;
    z-index: 10;
}

.interview-logo a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 400;
    color: #233EC8;
    position: relative;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3.5rem;
        content: attr(QUIPU);
        color: #233EC8;
        border-bottom: 2px solid #233EC8;
        max-width: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
    &:hover::after {
        max-width: 100%;
    }
}

.interview-navbar p {
    text-align: start;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 900px) {
    .interview-navbar {
        display: flex;
        flex-direction: column;
        padding-top: 2vh;
    }

    .interview-logo {
        text-align: center;
    }

    .interview-navbar p {
        text-align: end;
        padding-right: 5%;
    }
}

@media (min-width: 901px) {
    .interview-navbar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }

    .interview-index-container {
        margin-top: 3rem;
        position: relative;  
    }
}

.interview-index-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: 4;
    margin-left: 20%;
    margin-right: 20%;    
}


.interview-index {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron";
    padding-bottom: 6vh;

    @media (max-width: 1100px) {
        width: 50%;
    }
}

.interview-left, 
.interview-right {
    width: 27.5%;
    font-size: 1.5rem;
    font-weight: 400;
    color: #A5A9FA;
    padding: auto;
}

.interview-left {
    text-align: end;
}

.interview-right {
    text-align: start;
}

.interview-arrow {
    width: 10%;
}

.interview-middle {
    width: 25%;
}

.interview-arrow p,
.interview-middle h4 {
    font-size: 1.9rem;
    color: #233EC8;
    text-align: center;
    margin: auto;

}


.interview-arrow p {
    cursor: pointer;
}

.interview-middle h4 {
    font-weight: 400;
    background-color: #E6E7FF;
    padding: 0.3rem 1rem 0.4rem 1rem;
    margin: 0;
    border-radius: 35px;
}

    @media (max-width: 1100px) and (min-width: 901px) {
        .interview-middle h4 {
            font-size: 1.7rem;
            padding: 0.3rem 0.5rem 0.4rem 0.5rem;
        }

        .interview-right,
        .interview-left {
            font-size: 1.2rem;
        }
    }

@media (max-width: 900px) {
    .interview-index-container {
        padding: 2vh 0;
        margin-bottom: 4vh;
        border-bottom: 3px double #D2D4FF;
    }

    .interview-index {
        width: 80%;
        padding-bottom: 0;
    }

    .interview-left p,
    .interview-right p {
        font-size: 1rem;
        margin: 0 1rem;
    }

    .interview-arrow p,
    .interview-middle h4 {
        font-size: 1.5rem;
    }

    .interview-middle h4 {
        padding: 0.3rem 0.6rem;
    }
}



/*프로필*/

.interview-profile {
    width: 100%;
    max-width: 1500px;
    align-self: center;
    display: inline-flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5%;
}

.interview-profilebox {
    cursor: pointer;
    width: 27%;
    height: fit-content;
    background-color: #E6E7FF;
    border: 3px solid #9FADF5;
    transition: border 0.3s ease-out;
    border-radius: 20px;
    padding: 0.2rem 1% 0.2rem 0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: calc((100% - 3 * (27% + 3px)) / 6);
    margin-left: calc((100% - 3 * (27% + 3px)) / 6);
    word-break: keep-all;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.interview-profilebox:hover {
    border: 3px solid #4c5fbe;

    & .interview-profile-top > div::before {
        transform: rotate(90deg);  
    }

    & .interview-profile-content .interview-profile-img img {
        transform: scale(1.1);
    }
}

.interview-profile-top {
    align-self: flex-end;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.interview-profile-top > div {
    margin: 0 2px;
    width: 8px;
    aspect-ratio: 1/1;
    border: 2px solid #233EC8;
    transform: rotate(45deg);
    border-radius: 50%;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 100%;
        aspect-ratio: 1/1;
        border: 2px solid #233EC8;
        border-right: 2px solid transparent;
        border-radius: 50%;
        transition: transform 0.5s ease;
    }

    &:nth-child(1) {
        border-bottom: 2px solid transparent;
        &::before {
            border-right: 2px solid transparent;
        }
    }

    &:nth-child(3) {
        border-top: 2px solid transparent;
        &::before {
            border-left: 2px solid transparent;
        }
    }
}

.interview-profile-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 1rem;
}

.interview-profile-img {
    overflow: hidden;
    margin-right: 1%;
    width: 30%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #9FADF5;
    border-radius: 50%;
}

.interview-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.interview-profile-dc {
    width: 75%;
    height: 100%;
    color: #233EC8;
    display: flex;
    flex: 0.75;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.interview-profile-dc h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

.interview-profile-dc p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

@media (max-width: 600px) {
    .interview-profile-dc h4 {
        font-size: 1rem;
    }

    .interview-profile-dc p {
        font-size: 0.7rem;
    }
}

@media (max-width: 900px) {
    .interview-profile {
        flex-direction: column;
        justify-content: center;
    }

    .interview-profilebox {
        width: 80%;
        margin: 2vh 0;
    }

    .interview-profile-img {
        height: 20vw;
    }
}

@media (max-width: 1100px) and (min-width: 901px) {
    .interview-profile-dc h4 {
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
    }

    .interview-profile-dc p {
        font-size: 0.8rem;
    }
}

/* 푸터 */

.interview-footer {
    width: 100%;
    margin: 2% 0;
}

.interview-footer p {
    text-align: center;
    font-family: "Orbitron";
    color: #233EC8;
    font-size: 1.2rem;
    font-weight: 400;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* 전체 뷰포트 너비 */
    height: 100vh; /* 전체 뷰포트 높이 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex; /* flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    z-index: 1000; /* 다른 요소 위에 표시 */
}

.modal-content{
    width: 70%;
    height: 70%;
}