    .showcasemainMobile {
        background-color: rgba(254, 251, 255, 1);
        padding: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        top: 0;
        overflow-y: auto;
    }

    .showcasemainMobile-nav {
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .showcasemainMobile-logo a {
        width: auto;
        height: auto;
        font-size: 30px;
        padding-left: 10px;
        line-height: 75.39px;
        text-align: left;
        font-family: "Lora", serif;
        font-weight: 700;
        line-height: 76.8px;
        color: rgba(131, 94, 134, 1);
        background-color: transparent;
    }

    .showcasemainMobile-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ShowcasemainMobile-Dropdown {
        padding: 2px;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        font-family: "Lora";
        font-size: 1rem;
        font-weight: 500;
        color: #835286;
        text-align: left;
        background-color: #FFFFFF;
        width: 25%;
        margin: 3vh;
        border: 1.5px solid #567FBB57;
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
        position: relative;
        /* position을 relative로 변경 */
        z-index: 10;
    }

    .ShowcasemainMobile-Dropdown p{
        display: flex;
        justify-content: space-between;
    }

    .Dropdown-list {
        position: absolute;
        left: 0;
        height: 100px;
        list-style-type: none;
        width: 100%;
        margin-top: 2px;
        background: #FFFFFF;
        font: #835286B2;
        font-family: "Lora";
        font-size: 1rem;
        border-top: 1.5px solid #567FBB57;
        z-index: 10;
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;

        & li {
            border: 1.5px solid #567FBB57;
            cursor: pointer;
            border-bottom: 1.5px solid #567FBB57;
            width: 100%;
            padding: 3% 0;
            transition: 0.3s background-color ease;

            &:hover {
                background-color: #FBF3FF;
            }

            &:nth-child(6) {
                border-bottom: none;
            }
        }

        & ::-webkit-scrollbar {
            display: none;
        }
    }

    .Dropdown-list:hover {
        background: #FBF3FF;
    }


    .showcasemainMobile-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .showcasemainMobile-main button {
        margin: 3%;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        border-radius: 29px;
        border: 1.5px solid #835E86;
        color: #835E86;
        font: 1rem bold 'Nexon Lv2 Gothic';
    }

    .showcasemainMobile-main button:hover {
        background-color: #ae7eaf;
        color: white;
    }

    .showcasemainMobile-section1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        padding: 3%;
        border: 1px solid #0000001A;
    }

    .showcasemainMobile-gallery1 {
        padding: 3%;
        width: 95%;
        background-color: #F1CC8438;
    }

    .showcasemainMobile-gallery1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .showcasemainMobile-section2 {
        width: 95%;
        height: 97vh;
        padding: 3%;
        border: 1px solid #0000001A;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .section2-gallery1 {
        z-index: 1;
        background: linear-gradient(0deg, rgba(241, 204, 132, 0.22), rgba(241, 204, 132, 0.22));
        display: inline-flex;
        height: 30vh;
        aspect-ratio: 1.3 / 1;
        align-items: center;
        justify-content: center;
        padding: 1%;
        position: absolute; /* 절대 위치로 설정하여 겹침 */
    }
    
    .section2-gallery1 img {
        width: 90%;
        object-fit: cover;
    }

    .section2-text{
        z-index: 2;
        height: 30vh;
        aspect-ratio: 1.3 / 1;
        background-color: white;
        display: inline-flex;
        width: 60%;
        flex-direction: column;
        align-self: flex-end;
        justify-content: center;
        padding: 2%;
        border: 1px solid #0000001A;
        position: absolute; /* 절대 위치로 설정하여 겹침 */
        top: 25vh;
    }
    .section2-text h4 {
        color: #18101096;
        font-family: "Lora";
        font-size: 0.3rem;
    }
    .section2-text p {
        color: #01010196;
        font-family: "Lora";
        font-size: 0.3rem;
    }
    .section2-gallery2{
        z-index: 1;
        height: 30vh;
        aspect-ratio: 1.3 / 1;
        top: 45vh;
        background: linear-gradient(0deg, rgba(241, 204, 132, 0.22), rgba(241, 204, 132, 0.22));
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        position: absolute; /* 절대 위치로 설정하여 겹침 */
    }
    .section2-gallery2 img{
        width: 90%;
        object-fit: cover;
    }
    .section2-gallery3{
        z-index: 2;
        height: 30vh;
        aspect-ratio: 1.4 / 1;  
        top: 65vh;
        background: white;
        border: 1px solid #0000001A;
        display: inline-flex;
        align-self: flex-end;
        justify-content: center;
        padding: 2%;
        position: absolute; /* 절대 위치로 설정하여 겹침 */
    }
    .section2-gallery3 img{
        width: 90%;
        object-fit: cover;
    }
    

    .showcasemainMobile-section3 {
        width: 95%;
        padding: 3%;
        border: 1px solid #0000001A;
        display: flex;
        justify-content: center;
    }

    .showcasemainMobile-gallery3 {
        min-height: 200px;
        padding: 3%;
        width: 95%;
        background: #957CDD3B;
    }

    .showcasemainMobile-gallery3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }