.showcasemain-house{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    background-color: #f5f5f5;
    font-family: "NEXON Lv2 Gothic";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcasemain-container {
    max-width: 1150px;
    width: 100%;
    height: 100vh;
    font-family: "NEXON Lv2 Gothic";
    background-color: #f5f5f5;
}

.showcasemain-nav {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #f5f5f5;
}

.showcasemain-logo {
    width: auto;
    height: auto;
    font-size: 64px;
    padding-left: 30px;
    font-weight: 400;
    line-height: 75.39px;
    text-align: left;
    font-family: "Lora", serif;
    font-style: italic;
    font-weight: 700;
    font-size: 50px;
    line-height: 76.8px;
    color: rgba(131, 94, 134, 1);
    background-color: transparent;
}

.showcasemain-logo a {
    text-decoration: none;
    color: inherit;
}

.showcasemain {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 21px;
    width: 80%;
    Height: 13%;
    border: 1px solid #0C0B0B1A;
}

.section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.List {
    padding: 1%;
    font-family: "Lora" !important;
    margin: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    Width: 12%;
    Height: 60px;
    font: 2rem bold;
    color: #8F6E92;
    cursor: pointer;
}

.List:hover {
    border: 2px solid #927195;
    border-radius: 30px;
    
}

.gallery {
    min-width: 400px;
    width: 50%;
    height: 380px;
    border: 1px solid #0C0B0B1A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery1 {
    width: 95%;
    height: 95%;
    border: 1px;
    background: linear-gradient(0deg, rgba(241, 204, 132, 0.22), rgba(241, 204, 132, 0.22));
    display: flex;
    justify-content: center;
    align-items: center;

}

.gallery1 img {
    object-fit: cover;
    width: 95%;
    height: 95%;
}

.gallery2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.gallery2 h3 {
    font-family: "Lora";
    font-size: 70px;
    font-weight: 600;
    line-height: 128px;
    text-align: left;
    color: #835286;
}

.gallery3 {
    box-sizing: border-box;
    width: 47%;
    height: 46%;
    margin: 1%;
    background: linear-gradient(0deg, rgba(241, 204, 132, 0.22), rgba(241, 204, 132, 0.22));
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery3 img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.gallery3-text {
    display: flex;
    flex-direction: column;
}

.gallery3-text h4 {
    color: #18101096;
    font-family: "Lora";
    text-align: left;
    font-size: 0.6rem;
}

.gallery3-text p {
    object-fit: cover;
    color: #01010196;
    font-family: "Lora";
    text-align: left;
    font-size: 0.5rem;
}


.gallery3 h4 {
    display: block;
    font-family: "Lora";
}

.gallery4 {
    width: 95%;
    height: 95%;
    border: 1px;
    background:
        linear-gradient(0deg, rgba(149, 124, 221, 0.23), rgba(149, 124, 221, 0.23));
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery4 img{
    width: 95%;
    height: 95%;
    object-fit: cover;
}

.view-button {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    width: 7%;
    height: 52px;
    border-radius: 29px;
    border: 1.5px solid #835E86;
    color: #835E86;
    font: 1rem bold 'Nexon Lv2 Gothic';
}

.view-button:hover{
    background-color: #ae7eaf;
    color: white;
}

.mobile-view{
    width: 100%;
    background-color: rgba(254, 251, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}