    .Dropdown-list {
        list-style-type: none;
        width: 100%;
        margin-top: 2px;
        background: #FFFFFF;
        font: #835286B2;
        font-family: "Lora";
        font-size: 1rem;
        font-weight: 500;
        border: 1.5px solid #567FBB57;
    }

    .Dropdown-list:hover {
        background: #FBF3FF;
    }

    .showcasemainMobile {
        background-color: rgba(254, 251, 255, 1);
        padding: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        width: 100%;
        height: 100vh;
        top: 0;
        overflow-y: auto;
    }

    .showcasemainMobile-nav {
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .showcasemainMobile-logo {
        width: auto;
        height: auto;
        font-size: 30px;
        padding-left: 10px;
        font-weight: 400;
        line-height: 75.39px;
        text-align: left;
        font-family: "Lora", serif;
        font-style: italic;
        font-weight: 700;
        font-size: 50px;
        line-height: 76.8px;
        color: rgba(131, 94, 134, 1);
        background-color: transparent;
    }

    .showcasemainMobile-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ShowcasemainMobile-arrow {
        width: 30%;
        height: 3vh;
        margin: 3vh;
    }

    .ShowcasemainMobile-Dropdown {
        padding: 2px;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        font-family: "Lora";
        font-size: 1rem;
        font-weight: 500;
        color: #835286;
        text-align: left;
        background-color: #FFFFFF;
        width: 25%;
        overflow-y: auto;
        margin: 3vh;
        border: 1.5px solid #567FBB57;
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
    }

    .showcasemainMobile-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .showcasemainMobile-main button {
        margin: 3%;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        border-radius: 29px;
        border: 1.5px solid #835E86;
        color: #835E86;
        font: 1rem bold 'Nexon Lv2 Gothic';
    }

    .showcasemainMobile-main button:hover {
        background-color: #ae7eaf;
        color: white;
    }

    .showcasemainMobile-section1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid #000000;
    }

    .showcasemainMobile-gallery1 {
        padding: 3%;
        width: 90%;
        background-color: #F1CC8438;
    }

    .showcasemainMobile-gallery1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .showcasemainMobile-section2 {
        height: 400px;
    }

    .showcasemainMobile-section3 {
        width: 100%;
        border: 1px solid #000000;
        display: flex;
        justify-content: center;
    }

    .showcasemainMobile-gallery3 {
        min-height: 200px;
        padding: 3%;
        width: 90%;
        background: #957CDD3B;
    }

    .showcasemainMobile-gallery3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }