.About-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.About-container *{
    font-family: 'JalnanGothic';
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    width: 200vw;
    height: 200vh;
    align-items: center;
    justify-content: center;
    transform: rotate(-10deg);
    transform-origin: center center;
    position: relative;
    top: -50vh;
    right: 50vw;
}

.about-section {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    z-index: 10;
    cursor: pointer;
}

.about-section.first{
    background-color: #C0CEFF;
}

.about-section.second{
    background-color: #a9bbfe;
}

.about-section.third{
    background-color: #9ca7d1;
}

.about-section.forth{
    background-color: #7e8ec9;
}

.about-section p {
    color: transparent;
    font-size: 16px;
    font-weight: 100;
    margin: 10px;
}

.about-section:hover {
    z-index: 60;
    background-color: black;
    transition: z-index 0s;
    transition: background-color 1s;
}

.about-section:hover p{
    transition: 1s;
    color: white;
}

.about-section--content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 40%;
    height: 40%;
}

.quipu-text {
    position: absolute;
    top: calc(50% - 80px);
    right: calc(50% - 250px); 
    z-index: 50;
}

.quipu-text p {
    transform-origin: center center;
    font-size: 150px;
    font-weight: 100;
    color: #F2F1EB;
}