.About-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.section-container {
    position: relative;
    top: -50vh;
    right: 50vw;
    transform: rotate(-10deg);
    transform-origin: center center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 200vw;
    height: 200vh;

    @media (max-width: 500px) {
        transform: rotate(5deg);
    }
}

.about-section {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    word-break: keep-all;
    cursor: pointer;
}

.about-section.first {
    justify-content: end;
    align-items: end;
    background-color: #C0CEFF;
    opacity: 0.8;
}

.about-section.first .about-section--content {
    justify-content: end;
    align-items: end;
}

.about-section.second {
    justify-content: end;
    align-items: start;
    background-color: #a9bbfe;
    opacity: 0.8;
}

.about-section.second .about-section--content {
    justify-content: end;
    align-items: start;
}

.about-section.third {
    justify-content: start;
    align-items: end;
    background-color: #9ca7d1;
    opacity: 0.8;
}

.about-section.third .about-section--content {
    justify-content: start;
    align-items: end;
}

.about-section.forth {
    justify-content: start;
    align-items: start;
    background-color: #7e8ec9;
    opacity: 0.8;
}

.about-section.forth .about-section--content {
    justify-content: start;
    align-items: start;
}

.about-section:hover {
    z-index: 2000;
    border-radius: 5px;
}

.about-section.first::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(./About-img.png);
    opacity: 0;
    transition: opacity 1s;
}

.about-section.first:hover::after {
    opacity: 1;
}

.about-section.second::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(./About-img.png);
    opacity: 0;
    transition: opacity 1s;
}

.about-section.second:hover::after {
    opacity: 1;
}

.about-section.third::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(./About-img.png);
    opacity: 0;
    transition: opacity 1s;
}

.about-section.third:hover::after {
    opacity: 1;
}

.about-section.forth::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(./About-img.png);
    opacity: 0;
    transition: opacity 1s;
}

.about-section.forth:hover::after {
    opacity: 1;
}

.about-section--content {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    margin: 50px;

    @media (max-width: 900px) {
        margin: 35px;
    }

    @media (max-width: 500px) {
        margin: 30px;
    }
}

.about-section.forth .about-section--content {
    @media (max-width: 500px) {
        width: 50%;
    }
}

.about-section:hover p {
    z-index: 2000;
    color: black;
    transition: 1s;
}

.keyword {
    z-index: 200;
    color: #0A1D56;
    font-family: 'JalnanGothic';
    font-size: 40px;
    font-weight: 100;
    text-shadow: 3px 2px 1px #fff0a5;

    @media (max-width: 900px) {
        font-size: 30px;
    }

    @media (max-width: 500px) {
        font-size: 20px;
    }
}

.keyword-detail {
    margin: 10px;
    color: transparent;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7;

    @media (max-width: 900px) {
        font-size: 13px;
    }

    @media (max-width: 500px) {
        font-size: 11px;
    }
}

.about-section.first .keyword-detail {
    text-align: end
}

.about-section.third .keyword-detail {
    text-align: end
}

.about-section.forth .keyword-detail {
    position: relative;
    right: 20px;
}

.quipu-text {
    position: absolute;
    z-index: 100;
    top: calc(50% - 80px);
    right: calc(50% - 250px);
    text-shadow: 3px 3px 3px grey;

    @media (max-width: 900px) {
        top: calc(50% - 59px);
        right: calc(50% - 188px);
    }

    @media (max-width: 500px) {
        top: calc(50% - 45px);
        right: calc(50% - 139px);
    }
}

.quipu-text p {
    transform-origin: center center;
    color: #F2F1EB;
    font-family: 'JalnanGothic';
    font-size: 150px;
    font-weight: 100;

    @media (max-width: 900px) {
        font-size: 115px;
    }

    @media (max-width: 500px) {
        font-size: 85px;
    }
}

.leaders {
    position: absolute;
    z-index: 50;
    right: 30%;
    bottom: 30%;
    width: 10%;
    word-break: keep-all;

    @media (max-width: 900px) {
        right: 30%;
        bottom: 30%;
    }

    @media (max-width: 500px) {
        bottom: 40%;
    }
}

.leaders p {
    color: #314355;
    font-family: 'JalnanGothic';
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;

    @media (max-width: 900px) {
        font-size: 15px;
    }

    @media (max-width: 500px) {
        font-size: 10px;
    }
}