.JoinQuipu-container {
    overflow-y: auto;
    -ms-overflow-style: none;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - 80px);
    scrollbar-width: none;
    margin: 0;
    padding-bottom: 20%;
    color: black;
    font-size: 14px;
    line-height: 1.5em;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    @media (max-width: 900px) {
        height: calc(var(--vh, 1vh) * 100 - 60px);
    }
}

.JoinQuipu-container::-webkit-scrollbar {
    display: none;
}

.JoinQuipu-container * {
    box-sizing: border-box;
    font-family: 'LINESeedKR';
    outline: none;
}

h1 {
    color: #1c0093;
    font-size: 35px;
    text-align: center;
}

h2 {
    color: #1c0093;
    font-size: 25px;
    text-align: center;
}

.member {
    overflow-y: auto;
    width: 600px;
    margin: auto;
    margin-bottom: 20px;

    @media (max-width: 700px) {
        width: 90vw;
    }
}

.member .field {
    margin: 10px 0;
}

.member b {
    display: block;
    margin-bottom: 5px;
}

.member input:not(input[type=radio]),
.member select,
.member textarea {
    width: 100%;
    margin-bottom: 5px;
    padding: 13px;
    border: 1px solid #dadada;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255);
    box-shadow: 1px 1px 5px 1px #B7B7B7;
}

.member input[type=submit] {
    color: #fff;
    background-color: #3c3c8c;
}

textarea {
    overflow: hidden;
    line-height: 1.5;
    resize: none;
}

/* 전공 드롭다운 디자인 */
.major-dropdown {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.major-dropdown::-webkit-scrollbar {
    display: none;
}

.major-dropdown option {
    color: black;
    background-color: #eeeded;
    font-size: 12px;
}

/*가입 버튼*/
.field-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.field-type input[type=radio] {
    display: none;
}

.field-type label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 35px;
    border: solid 2px #1c0093;
    border-radius: 12px;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.field-type input[type=radio]+label {
    color: #1c0093;
    background-color: #DFE7FF;
}

.field-type input[type=radio]:checked+label {
    color: whitesmoke;
    background-color: #211D2A;
    font-weight: bold;
}

.join-notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join-notice__icon {
    display: flex;
    flex-direction: column;
    width: 83%;
    margin-top: 20px;
    color: #898989;
    border: 1px solid #1F2020;
    border-radius: 0.5em;
    background-color: #484848;
    box-shadow: 1px 1px 3px 1px #00000040;
    font-size: 13px;
}

.join-notice__icon--top1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 18px;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    background-color: #1F2020;
}

.join-notice__icon--top1 p {
    margin: 0;
}

.join-notice__icon--top2 {
    width: 100%;
    height: 16px;
    background-color: #3B3B3C;
}

.join-notice__icon--body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1.3% 15% 2.5%;
    white-space: nowrap;
    text-align: center;
}

.join-notice__icon--body p {
    margin: 0;
}

.join-notice__icon--body br {
    display: none;

    @media (max-width: 350px) {
        display: block;
    }
}

.account-number {
    color: yellow;
    text-decoration-line: underline;
    cursor: pointer;
}

.divider {
    width: 60%;
    height: 2px;
    margin: 30px auto;
    background-color: #3B3B3C;
}

.member input[type=text]:focus,
.member input[type=tel]:focus,
.member input[type=radio]:focus,
.member select:focus,
.member textarea:focus {
    border: 1px solid #1c0093;
}

.field.major div {
    display: flex;
    gap: 10px;
}

.field.tel-number div {
    display: flex;
}


.placehold-text {
    position: relative;
    display: block;
}

.apply {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply .button-enabled {
    width: 130px;
    height: 50px;
    margin-top: 20px;
    color: #1c0093;
    border: solid 2px #1c0093;
    border-radius: 12px;
    background-color: #DFE7FF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.apply .button-disabled {
    width: 130px;
    height: 50px;
    margin-top: 20px;
    color: grey;
    border: solid 2px grey;
    border-radius: 12px;
    background-color: #DFE7FF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    width: 85%;
    margin-bottom: 10px;
    padding: 20px 30px 20px 30px;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);

    @media (max-width: 300px) {
        width: 90vw;
    }
}

.question-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
}

.title-container,
.emoji-container {
    display: flex;
}

.question-title {
    font-weight: bold;
    word-break: keep-all;
}

/* FAQ 항목이 확장됐을 때의 스타일 */
.question.expanded .expanded-content {
    display: block;
    margin-top: 10px;
    font-size: 11px;
}

/* 추가된 스타일 */
.expanded-content {
    display: none;
}

.more-detail {
    width: 85%;
    text-align: right;
    margin-left: auto;
    margin-right: 7.5%;
    font-size: 0.9em;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-top: 1.5px solid #9AA5CA;
    padding:5%;
    margin-top: 20%;
}

.footer-content {
    text-align: center;
    font-size: 0.8em;
    color : #9AA5CA;
}

.footer-content a{
    color: inherit;
    text-decoration: none;
}

.footer-content a:hover{
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    width: 410px; 
    height: 160px;
}

.popup__icon {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #1F2020;
    border: 1px solid #cacaca;
    border-radius: 0.5em;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px 1px #B7B7B7;
    font-size: 1.5em;
}

.popup__icon--top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30px;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    background: linear-gradient(0deg, #dddddd, #FFFFFF);
}


.popup__icon--body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 7px;
    white-space: nowrap;
    text-align: center;
}

.popup__icon--body img {
    width: 80px;
    height: auto; 
    /* padding: 10px; */
    /* margin-left:15px; */
    margin-right: 15px;
}

.popup_content {
    display: flex;
    /* justify-content: space-between; */
    width: 90%;
}

.popup_img,
.popup_message {
    display: flex;
}

.popup_message{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.head-message{
    margin-top: 3px;
    font-weight: 700;
    text-align: left;
}

.sub-message{
    margin-top: 3px;
    text-align: left;
    font-weight: 400;
    font-size: 13px;
}

.popup__button-container {
    position: relative;
    margin-left:auto;
}

.popup button {
    width: 94px;
    height: 30px;
    font-size: 16px;
    margin-right:10px;
    margin-bottom: 8px;
    color: #ffffff;
    border: solid 1px #3c8aef;
    border-radius: 8px;
    background: linear-gradient(0deg, #3c8aef, #78bdf4);
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.popup button:hover {
    box-shadow: 0 0 3px 1.5px #78bdf4;
    border: none;
}

@media (max-width:500px) {

    .join-notice__icon--body p {
        font-size: 9px;
        font-weight: bold;
    }

    .question-title {
        font-size: 0.9em;
        font-weight: 700;
    }
    .expanded-content {
        font-weight: 400;
    }
    .more-detail {
        font-size : 0.6em;
    }

    .footer-content{
        font-size : 0.8em;
    }

    .popup {
        height: 108px;
        width: 60%;
    }

    .popup__icon--top{
        height: 24px;
    }

    .popup__icon--body img {
        width: 40px;
        height: auto; 
        margin-right: 7px;
    }

    .popup_img{
        margin-right : 0;
    }

    .popup_message{
        margin-left : 0;
    }

    .head-message {
        font-size: 15px;
        margin-top: 1px;
    }

    .sub-message {
        font-size: 11px;
        margin-top: 1px;
    }

    .popup button {
    width: 50px;
    height: 17px;
    font-size: 10px;
    margin-right:11px;
    }
}

@media (max-width: 400px) {
    .popup {
        width: 70%;
    }
}

@media (max-width: 300px) {
    .join-notice__icon {
        width: 90vw;
    }

    .popup {
        width: 80%;
    }

    .head-message {
        font-size: 13px;
    }

    .sub-message {
        font-size: 9px;
    }
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.checkbox #checkbox-label {
    width: auto;
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
    word-break: keep-all;

    @media (max-width: 400px) {
        font-size: 13px;
    }

    @media (max-width: 350px) {
        font-size: 11px;
    }
}

.checkbox #checkbox-input {
    width: auto;
    box-shadow: none;
}