.recruit-container {
  position: absolute;
  width: 850px;
  height: auto;
  max-height: 80vh;
  scrollbar-width: none;
  margin: 0;
  color: black;
  font-size: 14px;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.85);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
  border-radius: 30px;
  box-shadow: 0 0 10px grey;
  padding: 0 40px;

  @media (max-width: 900px) {
    width: 90%;
  }
  @media (max-width: 600px) {
    padding: 0 15px;
  }
  @media (max-width: 500px) {
    overflow-y: auto;
    justify-content: start;
  }
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.recruit-container * {
  word-break: keep-all;
  line-height: 1.5;
}

.recruit-container h1 {
  font-size: 40px;
  color: #2c3e50;
  text-align: center;
  margin: 20px 0;
  font-family: 'yg-jalnan';
  margin: 0;

  @media (max-width: 600px) {
    font-size: 33px;
  }
}

.coming-soon-image {
  width: 80px;
  margin: 10px;
  transform: rotate(-5deg);
  position: relative;
  bottom: 20px;
  left: 20px;
  @media (max-width: 600px) {
    left: 0;
  }
}

.recruit-container p {
  font-size: 16px;
  color: #34495e;
  margin: 10px 20px;
  text-align: center;
}

.recruit-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.recruit-chat1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.recruit-chat1 p {
  border: 2px solid black;
  padding: 20px;
  border-radius: 20px 20px 20px 0;
  margin: 5px;
  font-family: 'GmarketSansMedium';
  background-color: #f7f9f2;
  margin: 10px 20px;
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.recruit-chat1 span {
  color: #088395;
  font-weight: 900;
}

.recruit-chat1 img {
  width: 80px;
  position: relative;
  top: 50px;
  margin: 0;
  @media (max-width: 600px) {
    width: 70px;
    top: 70px;
  }
  @media (max-width: 500px) {
    top: 90px;
  }
}

.recruit-chat2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.recruit-chat2 img {
  width: 80px;
  position: relative;
  top: 30px;
  margin: 0;
  @media (max-width: 600px) {
    width: 70px;
  }
}

.recruit-chat2 p {
  width: 400px;
  border: 2px solid black;
  padding: 20px;
  margin: 10px 20px;
  border-radius: 20px 20px 0px 20px;
  font-family: 'GmarketSansMedium';
  background-color: #f7f9f2;
  @media (max-width: 600px) {
    font-size: 14px;
    width: 80%;
    padding: 20px 10px;
  }
}

.recruit-chat2 br {
  display: none;

  @media (max-width: 600px) {
    display: block;
  }
}

.recruit-chat2 span {
  color: #088395;
  font-weight: 900;
}

.recruit-close {
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}
