.Study-container {
    width: 80%;
    height: 100dvh;
    padding: 130px 0 150px 0;
    display: flex; 
    justify-content: center;
    align-content: start;
    flex-wrap: wrap; 
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    @media (max-width: 900px) {
        padding-top: 60px;
    }
}

.Study-container::-webkit-scrollbar {
    display: none;
}

.studycard {
    width: 260px;
    height: 180px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    position: relative;
    box-shadow: 3px 3px 4px grey;
    z-index: auto;
}

.studycard:hover {
    bottom: 3px;
    right: 3px;
}

.studycard__top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
}

.studycard__img {
    width: 30%;
    height: 80%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}   

.studycard__content {
    width: 70%;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
}

.studycard__content::-webkit-scrollbar {
    display: none;
}

.studycard__content h3 {
    /* font-family: 'JalnanGothic'; */
    text-align: center;
    margin: 10px;
    font-size: 15px;
    font-weight: 100;
}

.studycard__content p {
    /* font-family: 'JalnanGothic'; */
    font-size: 11px;
    font-weight: 100;
    color: grey;
    text-align: center;
    word-break: keep-all;
}

.studycard__member--container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
}

.studycard__member--container::-webkit-scrollbar {
    display: none;
}

.studycard__member {
    padding: 5px;
    height: 70%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
}

.studycard__member p {
    font-family: 'JalnanGothic';
    font-size: 9px;
    font-weight: 100;
}

.moreinfo-button {
    width: 60%;
    height: 13%;
    font-size: 10px;
    font-weight: 550;
    font-family: 'JalnanGothic';
    color: #1C0093;
    border: 2px solid #1C0093;
    border-radius: 20px;
    background-color: #DFE7FF;
    position: absolute;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
}

.moreinfo-button:hover {
    background-color: #1C0093;
    color: #DFE7FF;
}

.study__modal--container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.study__modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 450px;
    border-radius: 7px;
    background-color: #F8F8F8;
    box-shadow: 3px 3px 4px black;
    z-index: auto;

    @media (max-width:600px) {
        width: 80%;
    }
}

.study__modal--bar {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: 	#D8D8D8;
    border-radius: 7px;
    padding: 5px;
}

.study__modal--bar p {
    font-family: 'JalnanGothic';
    font-size: 13px;
    margin-bottom: 9px;
    margin-left: 10px;
}

.study__modal--content {
    position: absolute;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background-color: #F8F8F8;
    color: black;
    border-radius: 7px;
}

.study__modal--content-top {
    width: 90%;
    height: 30%;
}

.study__modal--content-bottom {
    width: 90%;
    height: 70%;
    border-top: 1px solid black;
}

.h10 {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10%;
    text-align: start;
    padding: 4px;
    font-family: 'JalnanGothic';
}

.h90 {
    height: 90%;
}

.h90 p {
    font-family: 'JalnanGothic';
    overflow-y: auto;
    max-height: 50%;
    margin-top: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.h90 p::-webkit-scrollbar {
    display: none;
}

.study__modal--img-container {
    height: 40%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
}

.study__modal--img-container::-webkit-scrollbar {
    display: none;
}

.study__modal--img {
    height: 100%;
    margin-right: 10px;
}