.recommend-site {
    width: 1500px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    width: 1500px;
    height: calc(100dvh - 80px);

    @media screen and (max-width: 700px){
        width:100%;
        height: calc(100dvh - 60px);
    }
}

.recommend-site__title {
    height: 40px;
    margin: 10px;
    font-size: 30px;
    font-weight: 600;
    
    @media screen and (max-width: 700px){
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 5%;
    }
}

.recommend-site__box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    position: relative;
    overflow-x: auto;  
    overflow-y: hidden; 
    -ms-overflow-style: none; /* IE와 Edge에서 스크롤바 숨기기 */ 
    scrollbar-width: none;  /* Firefox에서 스크롤바 숨기기 */
}

.recommend-site__box::-webkit-scrollbar {
    display: none;
}

.recommend-site__box--top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.recommend-site__box--bottom {
    display: flex;
    align-items: center;
    width: 80%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.recommend-site__box--behind {
    position: relative;
    display: none;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    width: 100%;
    height: auto;
    scrollbar-width: none;
}

.recommend-site__box--behind::-webkit-scrollbar {
    display: none;
}

.recommend-site__box--topBehind{
    z-index: 0;
    display: none;
    flex-wrap: row wrap;
    justify-content: space-around;
    padding-left: 10%;
}

.recommend-site__box--bottomBehind{
    z-index: 1;
    display: none;
    flex-wrap: row wrap;
    justify-content: space-around;
    padding-right: 10%;
}

.recommend-site__icon {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 150px;
    margin: 50px;
    color: #626262;
    border: 1px solid #cacaca;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    color: #626262;
}

.recommend-site__icon--textNonHover{
    display: block;
    font-size: 15px;
    font-weight: 600;
}

.recommend-site__icon:hover .recommend-site__icon--textNonHover{
    white-space: pre-wrap;
}

.recommend-site__icon--textHover{
    display:none;
    font-size:12px;
}

.recommend-site__icon:hover .recommend-site__icon--textHover{
    display: block;
}

.recommend-site__icon:hover {
    transform: scale(1.15);
    box-shadow: 2px 2px 3px 2px #B7B7B7;
}

.recommend-site__icon--top1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    background-color: #F8F8F8;
}

.recommend-site__icon--top2{
    width: 100%;
    height: 7px;
    background-color: #FFF9F9;
}

.recommend-site__icon--body{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 10%;
}

.recommend-site__icon--bodyText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 700px){
    .recommend-site__box--top, .recommend-site__box--bottom, .recommend-site__box--topBehind, .recommend-site__box--bottomBehind, .recommend-site__box, .recommend-site__box--behind{
        display: none;
    }
}