div, nav {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: #C0CEFF;
}

p {
  margin: 0px;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;

  position: fixed;
  
}

.navbar__logo {
  width: 120px;
  height: 60px;
}

.navbar__logo--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.navbar__menu {
  list-style: none;
  display: flex;
  padding-left: 0;

  @media (max-width: 700px) {
    display: none;
  }
}

.navbar__menu li {
  padding: 20px;
}

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-container--message {
  position: absolute;
  left: 0;
  top: 40%;
  color: white;
  margin: 0  5%;
}