/* 공통 */

div,
nav {
  box-sizing: border-box;
}

p {
  margin: 0px;
}

section {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  overflow: hidden;
  /* 스크롤 비활성화 */
}

.blank-navbar {
  height: 80px;
  width: 100%;

  @media (max-width: 800px) {
    height: 60px;
  }
}

/* 네브바 */

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;

  position: fixed;
  top: 0;

  z-index: 3;

  @media (max-width: 800px) {
    height: 60px;
    padding: 10px;
  }
}

.navbar__logo {
  width: 120px;
  height: 60px;

  @media (max-width: 800px) {
    width: 80px;
    height: 40px;
  }
}

.navbar__logo--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.navbar__menu--pc {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 800px) {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.navbar__menu--pc ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  color: white;
  list-style: none;
}

.navbar__menu--pc ul li {
  padding: 20px;
}

.navbar__menu--pc a {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  font-size: 22px;
  font-weight: 500;
}

.navbar__menu--pc a:hover {
  color: #5C518B;
  transition: color 0.4s ease-in-out;
}

.hamburger {
  display: none;
  width: 60px;
  height: 60px;

  @media (max-width: 800px){
    display: inline;
  }
}

.icon {
  width: 100%;
  height: 100%;
  background-color: white;
}

.navbar__menu--mobile {
  position: fixed;
  top: 60px;
  right: -100%; /* Start off-screen */
  width: 200px;
  background-color: #c18a8a; /* Background of the menu */
  transition: right 0.3s ease-in-out;
  z-index: 10;
}

.navbar__menu--mobile.open {
  right: 0; /* Slide in */
}

.navbar__menu--mobile ul {
  list-style: none;
  color: white;
  flex-direction: column; /* Stack items vertically */
}