/* App.css */
.navbar__menu--pc ul li {
  padding: 20px;
  position: relative; /* Ensure dropdown is positioned relative to this element */
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%; /* Position below the parent li */
  left: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it appears above other content */
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}


.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0px 40px;

  @media (max-width: 900px) {
    height: 60px;
    padding: 15px;
  }

}

.navbar__logo {
  z-index: 1001;
  width: 120px;
  height: 60px;

  @media (max-width: 900px) {
    width: 100px;
    height: 50px;
  }
}

.navbar__logo--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.navbar__menu--pc {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 900px) {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
}

.navbar__menu--pc ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.navbar__menu--pc ul li {
  padding: 20px;
}

.navbar__menu--pc ul li a,
.navbar__menu--pc ul li {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
  cursor: pointer;
}

.navbar__menu--pc a:hover,
.navbar__menu--pc ul li:hover {
  color: #5C518B;
  transition: color 0.4s ease-in-out;
}

/* 모바일 네브바 */

#menu-toggle {
  display: none;
}

.menu-button {
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  cursor: pointer;
}

.menu-button .line {
  display: block;
  width: 100%;
  height: 3.5px;
  border-radius: 10px;
  background-color: #fff;
}

.menu-button .line1 {
  transform-origin: 0% 0%;
  margin-bottom: 6px;
  transition: transform 0.3s ease-in-out;
}

.menu-button .line2 {
  transition: transform 0.2s ease-in-out;
}

.menu-button .line3 {
  transform-origin: 0% 100%;
  margin-top: 6px;
  transition: transform 0.3s ease-in-out;
}

#menu-toggle:checked+.menu-button .line1 {
  transform: rotate(45deg);
}

#menu-toggle:checked+.menu-button .line2 {
  transform: scaleY(0);
}

#menu-toggle:checked+.menu-button .line3 {
  transform: rotate(-45deg);
}

.navbar__menu--mobile {
  display: none;
}

@media (max-width: 900px) {
  .menu-button {
    display: flex;
  }

  .navbar__menu--mobile {
    position: absolute;
    z-index: 500;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #DFE7FF;
    transition: left 0.5s;

    @media (max-height: 400px) {
      align-items: flex-start;
      justify-content: center;
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

  #menu-toggle~.navbar__menu--mobile {
    left: 100vw;
  }

  .navbar__menu--mobile.open {
    left: 0;
  }

  #menu-toggle:checked~.navbar__menu--mobile {
    left: 0;
    transition: left 0.5s;
  }

  .navbar__menu--mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0;
  }

  .navbar__menu--mobile li {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60vw;
    height: auto;
    margin: 10px;
    padding: 5px 20px;
    background-color: white;
    border-radius: 17px 17px 0px 17px;
    list-style: none;
    cursor: pointer;
    box-shadow: 2px 2px #a6adc0;

    @media (max-width: 600px) {
      width: 80vw;
    }
  }

  .navbar__menu--mobile a {
    width: 80vw;
    color: #787f96;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
  }

  #activity-toggle {
    display: none;
  }

  .activity-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    cursor: pointer;
  }

  .activity-button .line {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #787f96;
  }

  .activity-button .line4 {
    position: relative;
    top: 1px;
  }

  .activity-button .line5 {
    position: relative;
    bottom: 1px;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
  }

  #activity-toggle:checked+.activity-button .line5 {
    transform: rotate(0deg);
  }

  #activity-toggle .activity-detail-menu {
    width: 0;
    height: 0;
    font-size: 0px;
  }

  .activity-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .activity-detail-menu li {
    position: relative;
    right: 20px;
    overflow: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0px 20px;
    font-size: 0px;
    transition: all 0.3s ease-in-out;
  }
  
  .activity-detail-menu.visible li {
    width: 60vw;
    height: 20px;
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 16px;
  }
}